:root {
    --green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);

    font-family: 'Inter', sans-serif;


}


body {
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400, 600, 700;
    color: var(--White);
    background-color: none;
    text-align: center;
}

/* reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    line-height: 1.1;

}


.user-avatar-container {
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 2rem;
}

.user-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

ul li {
    line-height: none;
    list-style: none;
}

a {
    color: var(--White);
    text-decoration: none;
}


style-bender {
    border-color: darkgray;
    border-radius: 23px;
    flex: auto;
    border-bottom: none;
    border-color: var(--White);



}

/* text styles */

.username {
    font-size: 14px;
    font-weight: 400, 600, 700;
    margin-bottom: .5rem;


}

.user-location {
    color: lightblue;
    font-weight: 600;
    margin-bottom: 1.25rem;

}

.list-item {
    display: block;
    width: 100%;
    padding: .7rem;
    border-radius: .3rem;
    background: var(--Grey-700);
    text-align: center;
    transition: background .3s ease, color .3s ease;


}

.list-item:hover {
    color: var(--Grey-800);
    background: lightblue;
}

/* layout styles */

.profile-container {
    width: 25em;
    background: var(--Grey-800);
    padding: 1.75rem;
    border-radius: .6rem;
}

.wrapper {
    display: grid;
    place-items: center;
    min-height: 100dvh;

}


.social-links li:not(:nth-child(1)) {
    margin-top: .75rem;
}



.social-links {
    margin-top: 1.5rem;
}

/* general styles */